* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #161616;
	-webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none;
	user-select: none;
}

.completed {
	display: none;
}

.hide {
	display: none;
}

.container {
	width: 650px;
	margin: 0 auto;
}

.todo-input {
	position: relative;
	display: flex;
	margin-top: 120px;
	& > input {
		background-color: #0f0e0d;
		&::placeholder {
			color: #454545;
		}
	}
	& > #addToDo {
		position: absolute;
		top: 11px;
		left: 18px;
		background: transparent;
		border: none;
		color: #454545;
		font-size: 30px;
		cursor: pointer;
		&:hover {
			color: rgb(124, 125, 128);
			transition: 0.6s ease;
		}
	}
	& > #newToDo {
		font-size: 15px;
		font-weight: 600;
		width: 650px;
		height: 50px;
		padding: 0px 0px 0px 50px;
		border: 2px solid #454545;
		border-radius: 5px;
		background-color: #131313;
		color: #747474;
	}
}

/* ////////////////////////////////////////////////////////////////////////// */

.todo-list {
	margin-top: 25px;
	& > h2 {
		color: #ffffff;
		font-size: 15px;
		font-weight: 500;
	}
	& > .todo-items {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		& > .input-checkbox {
			display: none;
		}
		& > label {
			padding: 10px 0px;
			color: white;
			transition-duration: 0.1s;
			&:hover {
				margin-left: 10px;
				border-radius: 9px;
				background-color: #222121;
				transition-duration: 0.4s;
			}
			&::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				border: 2px solid white;
				border-radius: 15px;
				background: transparent;
				vertical-align: middle;
				margin-right: 10px;
				margin-left: 2px;
			}
		}
		& > .todo-description {
			color: #5b5b5b;
			font-size: 13px;
			opacity: 80%;
			text-align: center;
		}
		& > label {
			display: flex;
			align-items: center;
			&:hover img {
				opacity: 80%;
				margin-right: 10px;
				cursor: pointer;
				transition: 0.3s ease;
			}
			& > .trash {
				opacity: 0%;
				height: 20px;
				vertical-align: middle;
				margin-right: 35px;
				margin-left: auto;
				&:hover {
					opacity: 100%;
				}
			}
		}
	}
}

input[type='checkbox']:checked + label::before {
	background-color: white;
	background-image: url('img/checklist.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.1s ease-in-out;
}

.todo-info,
.todo-info-completed {
	display: flex;
	align-items: center;
	gap: 25px;
	& > h2 {
		font-size: 17px;
		font-weight: 300;
		color: #e6e0e0;
	}
	& > p {
		color: #929292;
	}
}

.completed-list {
	margin-top: 20px;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	opacity: 30%;
	width: 100%;
}

input:focus,
button:focus {
	outline: none;
}

.todo-items-completed {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	& > .input-checkbox {
		display: none;
	}
	& > label {
		padding: 10px 0px;
		color: white;
		transition-duration: 0.1s;
		&:hover {
			margin-left: 10px;
			border-radius: 9px;
			background-color: #222121;
			transition-duration: 0.4s;
		}
		&::before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			border: 2px solid white;
			border-radius: 15px;
			background: transparent;
			vertical-align: middle;
			margin-right: 10px;
			margin-left: 2px;
		}
	}
	& > .todo-description {
		color: #5b5b5b;
		font-size: 13px;
		opacity: 80%;
		text-align: center;
	}
	& > label {
		display: flex;
		align-items: center;
		&:hover img {
			opacity: 80%;
			margin-right: 10px;
			cursor: pointer;
			transition: 0.3s ease;
		}
		& > .trash {
			opacity: 0%;
			height: 20px;
			vertical-align: middle;
			margin-right: 35px;
			margin-left: auto;
			&:hover {
				opacity: 100%;
			}
		}
	}
}

.todo-items,
.todo-items-completed {
	max-height: 220px;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.todo-items::-webkit-scrollbar,
.todo-items-completed::-webkit-scrollbar {
	display: none;
}

.todo-description-completed {
	color: #5b5b5b;
	font-size: 13px;
	opacity: 80%;
	text-align: center;
	margin-top: 15px;
}

